/* Write your CSS here */
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  min-height: 100vh;
  padding: 40px;
}

@media screen and (min-width: 768px) {
  .app-container {
    padding: 80px;
  }
}
.heading {
  color: #05acff;
  font-size: 35px;
  text-align: center;
  font-weight: 600;
  font-family: 'Roboto';
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 42px;
  }
}
